body{
    background-color: lightgrey;
}

.container-outer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.container-inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
    gap: 100px;
}

.header{
    display: flex;
    justify-content: center;
    border-bottom: solid 4px black;
}

.score{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

h2{
    display: flex;
    justify-content: center;
}

p {
    font-size: 40px;
    font-weight: 300;
}

img {
    max-width: 200px;
    max-width: 200px;
}

button{
    border: none;
    background-color: lightgrey; 
}